<!DOCTYPE HTML>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>theTrack - helps you find the Track.</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
   <a href="https://github.com/piqoni/thetrack/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
      <div id="logo" class="logo">theTrack</div>
      <div class="slogan">Find the best track of an artist, label, or music magazine.</div>    
      <form id="searchtrack" class="searchbox" action="/thetrack" method="POST">
          <input id="search" type="search" name="search" 
          {% if artist %}
            value="{{artist}}"
          {% endif %}
          placeholder="Search artist, label or magazine..." autofocus/>
          <button type="submit" value="search">&nbsp;</button>
      </form>
    <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
    </div>
  <div class="wrapper" style="display:none;">
    <div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>-
    </div>
  </div>
 
 <div id="trackplace" class="searchbox" style="width:450px; display:none;"></div>

 <div id="similartists" class="searchbox" style="width:450px; display:none;"></div>

<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script> 
<script src="https://w.soundcloud.com/player/api.js"></script> 

<script type="text/javascript">

$(document).ready(function() {

var tracks_played = [];
var artists_list = [];


function playNextTrack(artists_list){
    $.each(artists_list, function(index, artist_name){
      if($.inArray(artist_name, tracks_played)==-1){
        $('#search').val(artist_name);
        $("#searchtrack").submit(); 
        return false;
      }
    });
}


$('#searchtrack').on('submit', function(event) {
  var searched_artist = $('#search').val();
  tracks_played.push(searched_artist)

  $('.wrapper').show();
  $('#trackplace').hide();

  var $form = $(this);

  $.ajax({
  type: $form.attr('method'),
  url: $form.attr('action'),
  data: $form.serialize(),
  success: function(data, status) {
    if (data=='No tracks were found') {
      if ( $('#myonoffswitch').is(':checked')){
        playNextTrack(artists_list);
      }
    } else {
      $('#trackplace').html(data);
      $('#trackplace').show()
      $('.wrapper').hide();

      var widgetIframe = document.querySelector('iframe');
      widget = SC.Widget(widgetIframe);

      widget.bind(SC.Widget.Events.FINISH, function(player, data) {
      if ($('#myonoffswitch').is(':checked')) {
        playNextTrack(artists_list);     
      }
    });
  }
    $.ajax({
      type: 'GET',
      url: '/similar/' + searched_artist,
      success: function(data, status) {
        if (data != "Couldn't find similar artists."){
          $('#similartists').show();
          var buttons = [];
          $.each(data.artists.reverse(), function (id, artist) {
            button = '<button class="similar" value="' + artist +'">' + artist + '</button>';
            buttons.unshift(' ' + button + ' ');
            if($.inArray(artist, artists_list)<0) {
              artists_list.unshift(artist);
            } 
          
          });  

          $('#similartists').html(buttons.join(' '));

    
        } else {
          if ($('#myonoffswitch').is(':checked')) {
            $('#similartists').show().html('We were not able to find similar artists. Discovery mode cannot continue.');
          }
        }

      }
    });

}
});

event.preventDefault();
});


$(document.body).on('click', '.similar' ,function(){
  $('#search').val($(this).val());
  $("#searchtrack").submit();
});

});
</script>
</body>
</html>